* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: aqua;
  z-index: 1;
}
#detail-pan {
  position: absolute;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
#left-pan {
  width: 40vw;
}
#right-pan {
  width: 60vw;
}
aside {
  padding-top: 20px;
}
#left-pan img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#form-pan {
  position: relative;
  top: 20px;
}
#form-pan form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}
input,
select {
  width: 50%;
  height: 30px;
  border-radius: 5px;
}
#btn-save,
#btn-reset {
  width: 150px;
  color: rgb(8, 0, 0);
  border: transparent;
  border-radius: 5px;
  background-color: transparent;
}
#btn-reset:hover {
  font-weight: bold;
  background-color: red;
  color: white;
}
#btn-save:hover {
  font-weight: bold;
  background-color: green;
  color: white;
}
#alert-pan-success {
  color: green;
  font-size: 1.5rem;
}
#alert-pan-failed {
  color: red;
  font-size: 1.5rem;
}
#btn-save{
 border: 1px solid green;
 color: green;
}
#btn-reset{
  border: 1px solid red;
  color: red;
}
