* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: aqua;
}
#detail-pan {
  position: absolute;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
#left-pan{
  width: 40vw;
}
#right-pan{
  width: 60vw;
}
aside{
  padding-top: 20px;
}
#left-pan img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

